.agenda{
    background-color: #9DA9DD;
    position: absolute;
    color:#42485E;
    text-align: center;
    top:250px;
    left:10%;
    font-size:20px;
    width: 80%;
    height: 48%;
    border: 8px #CED7FF;
    border-style:outset outset outset dashed;
    overflow-y: scroll;
    padding: 2%;
}

.agenda ul{
    font-size: 40px;
    margin-top: 0px;
    text-align: left;
}

.agenda ul li{
    margin-bottom: 20px;
}

.agenda ul li .btn{
    height: 17%;
    font-size: 30px;
    margin-left: 5px;
    background-color: #5D76E3;
    border:4px solid #42485E;
    width: 22%;
    position: relative;
    transition:0.2s;
}

.agenda ul li .btn:hover{
    background-color: #2F4296;
    border-color:white;
    color:white; 
}


.inserc{
    list-style: none;
    position: absolute;
    left:6%;
    top:20%;
}
.inserc li{
    font-size:20px;
    color:black;
    display: inline;
    margin-left:20px;
}

.btnInsec{
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 25px;
    transition: 0.2s;
}

.btnInsec:hover{
    filter: invert(100%);
}

.input{
    color:#42485E;
    background-color: #9DA9DD;
    border: 4px solid #CED7FF;
    height: 50px;
    min-width: 500px;;
    font-size:20px;
}

#evento{
    width:200px;
}

.dia{
    display: none;
}

.pequeno{
    width: 20px;
}

.inputSmall{
    color:#42485E;
    background-color: #9DA9DD;
    border: 4px solid #CED7FF;
    height: 50px;
    width: 50px;
    font-size:20px;
}