.agenda{
    background-color: #9DA9DD;
    position: absolute;
    color:#42485E;
    text-align: center;
    top:250px;
    left:10%;
    font-size:20px;
    width: 80%;
    height: 55%;
    border: 8px #CED7FF;
    border-style:outset outset outset dashed;
    overflow-y: scroll;
}

.agenda ul{
    font-size: 50px;
    margin-top: 0px;
    text-align: left;
}

.agenda ul li{
    margin-bottom: 20px;
}

.agenda ul li .btn{
    height: 100px;
    font-size:50px;
    margin-left: 5px;
    background-color: #5D76E3;
    border:4px solid #42485E;
    width:300px;
    position: relative;
    transition:0.2s;
}

.agenda ul li .btn:hover{
    background-color: #2F4296;
    border-color:white;
    color:white; 
}


.inserc{
    list-style: none;
    position: absolute;
    left:6%;
    top:20%;
}
.inserc li{
    display: inline;
    margin-left:20px;
}

.btnInsec{
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 25px;
    transition: 0.2s;
}

.btnInsec:hover{
    filter: invert(100%);
}

.input{
    background-color: #588A9E;
    border: 4px solid #5CB3B5;
    height: 50px;
    width: 500px;
    font-size:20px;
}