.notas
{
    position: absolute;
    /* float: left; */
    top: 15%;
    left: 9.5%;    
    background-image: url("../img/planosDeFundo/3.jpg");
    border: 10px double midnightblue;    
    height: 74%;
    width: 80%;
}

.nome
{
    font-size: 24px;
    position: relative;
    float: center;
    text-align: center;
    color: midnightblue;
    font-family: 'Franklin Gothic Medium';
}

.img
{
    position: absolute;
    border: 5px solid midnightblue;
    float: left;
    left: 2%;
    top: 4%;    
    background-size: cover; 
    background-repeat: no-repeat;
    max-width: 250px;
    min-width: 250px;
    max-height: 250px;
    min-height: 250px;
    transition:0.2s;
}

.img:hover
{   
    border-color: #4461DE;
}

.interno
{
    background-color: ghostwhite;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    top: 4%;    
    left: calc(250px + 5%);
    float: left;
    width: 72%;
    height: 90%;
    border: 5px solid midnightblue;    
    overflow-y: scroll;
}

.interno .datap
{  
    font-size: 35px;
    position: absolute;
    margin-left: 33.25%;
    margin-top: 2%;
    float: left;
    text-align: center;
    color: Black;
    font-family: Cambria;    
}

.interno .data
{  
    font-size: 30px;
    position: absolute;
    margin-left: 43.25%;
    margin-top: 2%;
    float: left;
    text-align: center;
    color: Black;
    font-family: Cambria;
    width: 20%;    
}

.interno ul
{    
    list-style: none;
    margin-top: 20%;
}

.interno ul li
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin-bottom: calc(210px + 2%); 
}

.interno ul li .p .nome
{  
    font-size: 24px;
    position: relative;
    top: 10%;    
    float: center;
    text-align: center;
    color: Black;
    font-family: Baskerville Old Face;    
}

.interno ul li .p .notac
{  
    height: 25%;
    width:  30%;
    border: 5px solid midnightblue;
    border-radius: 5px;    
    position: relative;
    left: 10%;
    top: 17.25%;    
    float: left;
    text-align: left;
    color: Black;
    font-family: Cambria;    
}

.interno ul li .p .notac .notap
{  
    font-size: 24px;
    position: relative;
    /* left: 12%;
    top: 12%;     */
    top: -25%;
    left: 5%;
    float: left;
    text-align: left;
    color: Black;
    font-family: Cambria;    
}

.interno ul li .p .notac .nota
{  
    font-size: 24px;
    position: relative;
    /* top: 24%;     13*/
    left: 10%;
    /* width: 15%; */
    top: 15%;
    width: 50%;
    float: left;
    text-align: left;
    color: Black;
    font-family: Cambria;    
}

.interno ul li .p .arquivos
{
    position: relative;
    /* margin-left: 3em;
    margin-bottom: 1em; */
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: #4461DE;
    width: 250px;
    height: 25%;
    float: left;
    left: 15%;
    top: 17%;     
    align-items: center;
    display: flex;
    flex-direction: column;       
}

.interno ul li .p .arquivos i
{
    font-size: 30pt;
    margin-top: 0.14em;      
}

.interno ul li .p .arquivos:hover
{   
    border-color: #2C3F91;
}

.interno ul li .p
{   
    border: 5px solid midnightblue;
    border-right: none;
    position: absolute;
    height: 200px;
    width: calc(90% - 200px);
    float: left;
}

.interno ul li .aluno
{
    position: absolute;
    border: 5px solid midnightblue;
    float: left;
    left: calc(95% - 200px);    
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
    transition:0.2s;
}

.interno ul li .img:aluno
{   
    border-color: #4461DE;
}

.titulop
{  
    font-size: 35px;
    position: absolute;
    margin-left: 3%;
    margin-top: 3%;
    float: left;
    text-align: center;
    color: Black;
    font-family: Cambria;    
}

.titulo
{  
    font-size: 30px;
    position: absolute;
    left: 19%;
    margin-top: 3%;
    float: left;
    text-align: center;
    color: Black;
    font-family: Cambria;
    width: 79%;    
}

.comunicadop
{   
    position: absolute;      
    float: left;
    margin-left: 3%;
    margin-top: 11%;
    max-width: 95%;
    color: Black;
    font-family: Cambria; 
    font-size: 35px;
}

.comunicado
{   
    position: absolute;      
    float: left;
    margin-left: 3%;
    margin-top: 17%;
    color: Black;
    font-family: Cambria; 
    font-size: 25px;
    width: 95%;
    height: 65%;
}

.enviar
{
    position: absolute;
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: #4461DE;
    width: 250px;
    height: 65px;
    float: left;
    left: 2%;
    top: calc(4% + 245px);
    text-align: center;
    font-family: Cambria; 
    font-size: 24px;
    margin-top: 2%;
    line-height: 2.5em;
}

.enviar i
{
    font-size: 40pt;
    margin-top: 0.14em;
}

.enviar:hover
{   
    border-color: #2C3F91;
}

.cancelar
{
    position: absolute;
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: #4461DE;
    width: 250px;
    height: 65px;
    float: left;
    left: 2%;
    top: calc(6% + 320px);    
    margin-top: 2%;
    align-items: center;
    display: flex;
    flex-direction: column;   
}

.cancelar i
{
    font-size: 40pt;
    margin-top: 0.10em;
}

.cancelar:hover
{   
    border-color: #2C3F91;
}

.deletar
{
    position: absolute;
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: #4461DE;
    width: 250px;
    height: 65px;
    float: left;
    left: 2%;
    top: calc(8% + 395px);    
    margin-top: 2%;
    align-items: center;
    display: flex;
    flex-direction: column;   
}

.deletar i
{
    font-size: 40pt;
    margin-top: 0.10em;
}

.deletar:hover
{   
    border-color: #2C3F91;
}