.boletim
{
    position: absolute;
    /* float: left; */
    top: 15%;
    left: 9.5%;    
    background-image: url("../img/planosDeFundo/3.jpg");
    border: 10px double midnightblue;    
    height: 74%;
    width: 80%;
}

.nome
{
    font-size: 24px;
    position: relative;
    float: center;
    text-align: center;
    color: midnightblue;
    font-family: 'Franklin Gothic Medium';
}

.img
{
    position: absolute;
    border: 5px solid midnightblue;
    float: left;
    left: 2%;
    top: 4%;    
    background-size: cover; 
    background-repeat: no-repeat;
    max-width: 250px;
    min-width: 250px;
    max-height: 250px;
    min-height: 250px;
    transition:0.2s;
}

.img:hover
{   
    border-color: #4461DE;
}

.interno
{
    background-color: ghostwhite;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    position: absolute;
    top: 4%;    
    left: calc(250px + 5%);
    float: left;
    width: 72%;
    height: 90%;
    border: 5px solid midnightblue;
}

.interno ul
{    
    list-style: none;
    margin-top: 15%;
}

.interno ul li
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin-bottom: calc(210px + 2%); 
}

.interno ul li .p .nome
{  
    font-size: 24px;
    position: relative;
    top: 10%;    
    float: center;
    text-align: center;
    color: Black;
    font-family: Cambria;    
}

.interno ul li .p .notac
{  
    height: 25%;
    width:  30%;
    border: 5px solid midnightblue;
    border-radius: 5px;    
    position: relative;
    left: 10%;
    top: 17.25%;    
    float: left;
    text-align: left;
    color: Black;
    font-family: Cambria;    
}

.interno ul li .p .notac .notap
{  
    font-size: 24px;
    position: relative;
    /* left: 12%;
    top: 12%;     */
    top: -30%;
    left: 12.5%;
    float: left;
    text-align: left;
    color: Black;
    font-family: Cambria;    
}

.interno ul li .p .frequenciac
{
    position: relative;
    /* margin-left: 3em;
    margin-bottom: 1em; */
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: #4461DE;
    width: 250px;
    height: 25%;
    float: left;
    left: 15%;
    top: 17%;     
    align-items: center;
    display: flex;
    flex-direction: column;       
}

.interno ul li .p .frequenciac .frequenciap
{  
    font-size: 16pt;
    position: relative;
    /* left: 12%;
    top: 12%;     */
    top: -20%;
    left: 2.5%;
    float: left;
    text-align: left;
    color: ghostwhite;
    font-family: Cambria;    
}

.interno ul li .p
{   
    border: 5px solid midnightblue;
    border-right: none;
    position: absolute;
    height: 200px;
    width: calc(90% - 200px);
    float: left;
}

.interno ul li .aluno
{
    position: absolute;
    border: 5px solid midnightblue;
    float: left;
    left: calc(95% - 200px);    
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
    transition:0.2s;
}

.interno ul li .aluno:hover
{   
    border-color: #4461DE;
}

.titulop
{  
    font-size: 35px;
    position: absolute;
    margin-left: 3%;
    margin-top: 3%;
    float: left;
    text-align: center;
    color: Black;
    font-family: Cambria;    
}

.titulo
{  
    font-size: 30px;
    position: absolute;
    left: 19%;
    margin-top: 3%;
    float: left;
    text-align: center;
    color: Black;
    font-family: Cambria;
    width: 79%;    
}

.comunicadop
{   
    position: absolute;      
    float: left;
    margin-left: 3%;
    margin-top: 11%;
    max-width: 95%;
    color: Black;
    font-family: Cambria; 
    font-size: 35px;
}

.comunicado
{   
    position: absolute;      
    float: left;
    margin-left: 3%;
    margin-top: 17%;
    color: Black;
    font-family: Cambria; 
    font-size: 25px;
    width: 95%;
    height: 65%;
}

.voltar
{
    position: absolute;
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: #4461DE;
    width: 250px;
    /* height: 35px; */
    height: 70px;
    float: left;
    left: 2%;
    top: calc(16% + 330px);    
    margin-top: 2%;
    /* padding: 2% 0; */
    background-image: url("../img/icons/back-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.voltar:hover
{   
    border-color: #2C3F91;
}