body{
    background-color:#26394a;
    text-align: center;
    font-family: Segoe Print;
}

#CadastroSuper{
    text-align: center;
    background-color: #5d7b97;
    border: solid 4px black;
    position: fixed;
    margin-left: 500px;
    margin-top: 100px; 
    border-radius: 15px;
    width:550px;
    height: 550px;
    /* #364757; */
}
#CadastroSuper .lbA{
    position:fixed;
    left:550px;
    top:115px;
}

#CadastroSuper .lbP{
    position:fixed;
    left:980px;
    top:115px;
}

#Cadastro{
    background-color: #a3c4e3;
    border: solid 4px black;
    border-radius: 10px;
    position:fixed;
    margin-top: 100px;
    margin-left: 475px;
    opacity: 0;
    height: 550px;
    color:#211B11;
    width: 510px;
    transition: 1s;
    text-align:left;
    font-size:30px;
}

#Cadastro ul{
    list-style: none;
}

#Cadastro ul li{
    margin-top: -7.5px;
    margin-bottom: 0px;;
}

#Cadastro button{
    margin-top: 10px;
    height: 50px;
    width: 150px;
    margin-left:125px;
    border: solid;
    font-family: Brush Script MT;
    font-size: 30px;
    background-color: #61A6E8;
    transition: 0.5s;
}
#Cadastro button:hover{
    color: white;
    background-color: #2A4763;
}

.input{
    border-radius: 10px;
    font-size: 30px;
    background-color: #A0F0EC;
    border-color:#7EBDBA;
}


.rbA
{
    position: fixed;
    bottom: 650px;
    left:530px;
}

.rbP
{
    position: fixed;
    bottom: 650px;
    left:960px;
}

.image-upload > input
{
    display: none;
}

#avatar{
    margin-top: 20px;
    border-radius: 50%;
    height: 512px;
    width: 512px;
}