.calendario{
    position: fixed;
    margin-left: -10px;
    width: 102%;
    height: 85%;
    top: 100px;
    color: black;
    font-size: 20px;
}

.calendario .info #salas
{
    list-style: none;
    margin-left:-38px;
    text-align: center;
    margin-top: -2.5px;
    border: black 0.2px solid;
    width:250px;
    height: 100%;
}


.calendario #salas li 
{
    /* border: black 0.2px solid; */
    display:inline-block;
    width: 250px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.calendario #salas li:hover
{
    background-color: #C7B9E5;
}

.calendario #salas li input
{
    border: red;
}

.chb
{
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.calendario #salas li .header
{
    border: black 0.2px solid;
    background-color: #C7B9E5;
    font-size:22px;
    line-height: 40px;
    margin-bottom: 0px;
}


.eventos #salas{
    background-color: red;
}

body{
    background-color: #DDCEFF;
}

.circle{
    position: relative;
    border-radius: 50px;
    height: 10px;
    width: 10px;
    background-color: red;
    bottom:15px;
}

.eventos{
    position: fixed;
    margin-left: 252px;
    top:78px;
    width: 100%;
    height: 100%;
}

.eventos #ev{
    list-style: none;
    
}

.eventos #ev li{
    border: black solid 1px;
    line-height: 50px;
    background-color: #C7B9E5;
    margin-left: -40px;
    margin-bottom:0.4px;
}

.eventos #ev li p{
    margin-left: 40px;
}

grande{
    font-size:40px;
    margin-left:50px;
}

text{
    margin-left: 80px;
    margin-right:40px;
}

horario{
    margin-left: 0px;
    font-size:35px
}

.circleEV{
    position: relative;
    top:55px;
    border-radius: 50px;
    height: 25px;
    width:25px;
    background-color: red;
}

