/* :root
{
    --daniloBlue: #586391;
}

body
{
    background-color: var(--daniloBlue);
    color:ghostwhite;
} */

body
{
    background-color: #586391;
    color:azure;
    font-family: Arial, Century Gothic, Baskerville Old Face;
    overflow: hidden;
}

.icon
{ 
    position: relative;
    transition: 0.2s;
    width:60%;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 15px;
    padding: 20px;
    
}

.menuIcon
{
    float: left;
    position: fixed;
    width:3%;
    padding: 8px;
    margin-left: 15px;
    margin-top: 15px; 
}

.menu li img
{
    border: 4px solid #2C3F91;
    transition: 0.35s;
    border-radius: 20px;
}

.menu li img:hover
{
    background-color: #2C3F91;
    border-color: white;
}

.icon:hover
{
    transform: rotate(36deg);
}

.aba
{
    width:8%;
    list-style: none;
    position: fixed;
    height: 105%;
    margin:-10px;
    margin-right: -10px;
    margin-left: -1000px;
    padding:10px;
    background:#FFC51A;
    float:left;
    transition: 0.5s;
    /* z-index: 99999; */
}

.pesquisa
{
    background-color: #4461DE;
    border-radius: 20px;
    height: 50px;
    width: 39%;
    border: 4px solid #2C3F91;
    color: ghostwhite;
    font-size: 20px;
    position: fixed;
    left: 27.5%;
    /* background-image: url('img/search.png'); */
    outline: none;
}

.menu
{
    float: left;
    margin:0;
    background-color:#151E45;
    height: 100px;
    list-style: none;
    width:100%;
    margin-left: -10px;
    margin-top:-10px;
    box-shadow: 0 10px 6px -6px DarkSlateBlue;

}

.pesquisaIcon
{
    width:2.7%;
    position: fixed;
    left:64%;
    background:#4461DE;
    border: 4px solid #2C3F91;
    padding:1px;
    border-radius:25px;
    top:15px;
    transition:0.7s;
    pointer-events: auto;
}

.pesquisaIcon:hover 
{
	filter: invert(100%);
}

.texto
{
    position: relative;
    left:1090px;
    top:300px;
    width:500px;
    font-size: 30px;
}

.footer
{
    text-align: center;
    position:fixed;
    margin:0;
    background-color:#151E45;
    height: 7%;
    list-style: none;
    width:100%;
    bottom:0;
    margin-left: -10px;
}

.footer a
{
    text-decoration: none;
    color: yellowgreen;
}

.logo{
    position: fixed;
    right:-350px;
    margin-top:-15px;
}

.logo img{
    width:17%;
}


number{
    background:red;
    border-radius:25px;
    font-size:15px;
    padding:5px;
    padding-right: 8px;
    padding-left: 8px;
    position:relative;
    left:75px;
    bottom:100px;
}



.tarefas
{

}