.salas
{
    position: absolute;
    float: left;
    top: 15%;
    left: 9.5%;
    padding: 17% 39%;
    background: ghostwhite;
    border: 10px double midnightblue;
    overflow-y: scroll;
}

.sala
{   
    width: 95%;    
    position: absolute; 
    height: 250px;     
    border: 5px solid midnightblue;
    margin-bottom: 250px;
}

.nome
{   
    text-align: center;
    color: Black;
    font-family: Baskerville Old Face;    
}

.img
{
    right: 250px;
    position: absolute;
    border-left: 5px solid midnightblue;
    float: right;
    max-width: 250px;
    min-width: 250px;
    max-height: 250px;
    min-height: 250px;
    transition:0.2s;
}

.img:hover
{   
    border-color:ghostwhite;
}