.comunicado
{
    position: absolute;
    /* float: left; */
    top: 15%;
    left: 9.5%;    
    background-image: url("../img/planosDeFundo/3.jpg");
    border: 10px double midnightblue;    
    height: 74%;
    width: 80%;
}

.nome
{
    font-size: 24px;
    position: relative;
    float: center;
    text-align: center;
    color: midnightblue;
    font-family: 'Franklin Gothic Medium';
}

.img
{
    position: absolute;
    border: 5px solid midnightblue;
    float: left;
    left: 2%;
    top: 14%;
    background: url("../img/icons/user.png");
    background-size: cover; 
    background-repeat: no-repeat;
    max-width: 250px;
    min-width: 250px;
    max-height: 250px;
    min-height: 250px;
    transition:0.2s;
}

.img:hover
{   
    border-color: #4461DE;
}

.interno
{
    background-color: ghostwhite;
    overflow-y: scroll;
    position: absolute;
    top: 14%;    
    left: calc(250px + 5%);
    float: left;
    width: 72%;
    height: 80%;
    border: 5px dashed midnightblue;
}

.professor
{  
    font-size: 20px;
    position: relative;
    margin-left: 3%;
    float: left;
    text-align: center;
    color: Black;
    font-family: Cambria;    
}

.descricao
{   

    float: left;
    margin-left: 3%;
    max-width: 95%;
    text-align: justify;
    color: Black;
    font-family: Baskerville Old Face; 
    font-size: 18px;
}

.adicionar
{   
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: #4461DE;
    width: 250px;
    height: 14%;
    float: left;
    left: 2%;
    bottom: 4%;
    margin-left: 1.6em;
    align-items: center;
    display: flex;
    flex-direction: column;       
}

.adicionar i
{
    font-size: 40pt;
    margin-top: 0.14em;      
}

.adicionar:hover
{   
    border-color: #2C3F91;
}

.add
{
    width: 0.1px;
	height: 0.1px;	
    overflow: hidden;
    left: -1000px;
}

.arquivos
{
    margin-left: 3em;
    margin-bottom: 1em;
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: #4461DE;
    width: 250px;
    height: 14%;
    float: left;
    left: calc(3% + 260px + 4%);
    bottom: 4%;     
    align-items: center;
    display: flex;
    flex-direction: column;       
}

.arquivos i
{
    font-size: 40pt;
    margin-top: 0.14em;      
}

.arquivos:hover
{   
    border-color: #2C3F91;
}

.entregar
{
    position: absolute;
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: #4461DE;
    width: 250px;
    /* height: 35px; */
    height: 70px;
    float: left;
    left: 2%;
    top: calc(16% + 250px);
    text-align: center;
    font-family: Cambria; 
    font-size: 24px;
    margin-top: 2%;
    /* padding: 2% 0; */
    line-height: 2.5em;
}

.entregar:hover
{   
    border-color: #2C3F91;
}

.voltar
{
    position: absolute;
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: #4461DE;
    width: 250px;
    /* height: 35px; */
    height: 70px;
    float: left;
    left: 2%;
    top: calc(19% + 330px);    
    margin-top: 2%;
    /* padding: 2% 0; */
    background-image: url("../img/icons/back-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.entregar:voltar
{   
    border-color: #2C3F91;
}