.carrosel, .carrosel ul
{
    height:      400px;
    position:    absolute;
    left:        9%;
    top:         -15px;
    width:       9000px;
    list-style:  none;
    margin-left: -50px;
    transition:  left .3s linear;
    animation:   slide-animation 25s infinite;
}

.carrosel, .carrosel ul :hover
{
    animation-play-state: paused;
}

@keyframes slide-animation
{
    20%{left: 0}
    25%{left: -600px}
    45%{left: -600px}
    50%{left: -1200px}
    70%{left: -1200px}
    75%{left: -1800px}
    98%{left: -1800px}
    100%{left: 0px}
}

.carrosel
{
    position:   absolute;
    width:      30%;
    margin:     auto;
    overflow:   hidden;
    margin-top: 6%;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.50);
}

.carrosel, .carrosel li
{
    display:  inline-block;
    height:   400px;
    /*float: left;*/
    position: relative;
    width:    600px;
}

.carrosel-container
{
    margin:  0 auto;
    padding: 0;
    width:   600px;
}

.infoBox
{
    position:         absolute;
    left:             50%;
    top:              18%;
    background-color: ghostwhite;
    border:           8px double midnightblue;
    margin:           3%; 
    padding:          2.8%;
    color:	      midnightblue;
}

.infoBox h1
{   
    color: midnightblue;
}

.infoBox h1
{     
    font-family:      Baskerville Old Face;
}

