body
{
    background-color: #364DB2;
}
.icon
{
    transition: 0.3s;
    width:90%;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 10px;
    padding: 20px;
    
}
.menuIcon
{
    float: left;
    position: relative;
    width:5%;
    margin-left: 15px; 
    transition: 0.5s;
}
.exitIcon
{
    float: left;
    position: relative;
    width:5%;
    margin-left: 15px;
    transition: 0.5s; 
}

.icon:hover
{
    transform: rotate(180deg);
}

.aba
{
    width:       10%;
    list-style:  none;
    position:    relative;
    height:      105%;
    margin:      -10px;
    margin-left: -1000px;
    padding:     10px;
    background:#FFDF80;
    float:       left;
    transition:  0.2s;
    /* z-index: 99999; */
}

.carrosel, ul
{
    height:      300px;
    position:    absolute;
    left:        0;
    top:         -15px;
    width:       9000px;
    list-style:  none;
    margin-left: -50px;
    transition:  left .3s linear;
    animation:   slide-animation 15s infinite;
}

.carrosel, ul :hover
{
animation-play-state: paused;
}

@keyframes slide-animation
{
    20%{left: 0}
    25%{left: -600px}
    45%{left: -600px}
    50%{left: -1200px}
    70%{left: -1200px}
    75%{left: -1800px}
    98%{left: -1800px}
    100%{left: 0px}
}

.carrosel
{
    position:   absolute;
    width:      600px;
    margin:     auto;
    overflow:   hidden;
    margin-top: 100px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.50);
}

.carrosel, li
{
    display:  inline-block;
    height:   300px;
    /*float: left;*/
    position: relative;
    width:    600px;
}

.carrosel-container
{
    margin:  0 auto;
    padding: 0;
    width:   600px;
}

.carrosel-container img
{
    width: 100%;
}