:root
{
    --daniloBlue: #151E45;
}



body
{
    background-color: var(--daniloBlue);
    color:ghostwhite;
}
.icon
{
    position: relative;
    top: 30px;
    transition: 0.5s;
    width:60%;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 5px;
    padding: 20px;
    
}
.menuIcon
{
    float: left;
    position: absolute;
    width:3%;
    margin-left: 15px;
    margin-top: 15px; 
    transition: 0.7s;
}

.icon:hover
{
    transform: rotate(180deg);
}

.aba
{
    width:10%;
    list-style: none;
    position: fixed;
    height: 105%;
    margin:-10px;
    margin-left: -1000px;
    padding:10px;
    background:#FFC51A;
    float:left;
    transition: 0.5s;
    /* z-index: 99999; */
}
.pesquisa
{
    background-color: #4461DE;
    border-radius: 20px;
    height: 50px;
    width: 600px; 
    border: 4px solid #39405E;
    color: ghostwhite;
    font-size: 20px;
    position: fixed;
    left: 27.5%;
    /* background-image: url('img/search.png'); */
    outline: none;
}

.pesquisaIcon
{
    width:2.7%;
    position: fixed;
    left:63.2%;
    background-color: #4461DE;
    border: 3px solid #39405E;
    border-radius:22px;
    top:26px;
    transition:0.7s;
}

.pesquisaIcon:hover 
{
	filter: invert(100%);
}

.texto
{
    position: relative;
    left:1090px;
    top:300px;
    width:500px;
    font-size: 30px;
}

.carrosel, ul
{
    height:      300px;
    position:    relative;
    left:        27.5%;
    top:         -15px;
    width:       9000px;
    list-style:  none;
    margin-left: -50px;
    transition:  left .3s linear;
    animation:   slide-animation 15s infinite;
}

.carrosel, ul :hover
{
animation-play-state: paused;
}

@keyframes slide-animation
{
    20%{left: 0}
    25%{left: -600px}
    45%{left: -600px}
    50%{left: -1200px}
    70%{left: -1200px}
    75%{left: -1800px}
    98%{left: -1800px}
    100%{left: 0px}
}

.carrosel
{
    position:   absolute;
    width:      600px;
    margin:     auto;
    overflow:   hidden;
    margin-top: 12%;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.50);
}

.carrosel, li
{
    display:  inline-block;
    height:   300px;
    /*float: left;*/
    position: relative;
    width:    600px;
}

.carrosel-container
{
    margin:  0 auto;
    padding: 0;
    width:   600px;
}

.carrosel-container img
{
    width: 100%;
}
