body
{
    background-color: #364DB2;
}
.icon
{
    transition: 0.3s;
    width:90%;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 10px;
    padding: 20px;
    
}
.menuIcon
{
    float: left;
    position: relative;
    width:5%;
    margin-left: 15px; 
    transition: 0.5s;
}
.exitIcon
{
    float: left;
    position: relative;
    width:5%;
    margin-left: 15px;
    transition: 0.5s; 
}

.icon:hover
{
    transform: rotate(180deg);
}

.aba
{
    width:10%;
    list-style: none;
    position: relative;
    height: 105%;
    margin:-10px;
    margin-left: -1000px;
    padding:10px;
    background:#FFDF80;
    float:left;
    transition: 0.2s;
    /* z-index: 99999; */
}
