body
{
    background-color: #586391;
    color:ghostwhite;
}
.icon
{
    position: relative;
    transition: 0.9s;
    width:60%;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 15px;
    padding: 20px;
    
}
.menuIcon
{
    float: left;
    position: fixed;
    width:3%;
    padding: 8px;
    margin-left: 15px;
    border: 4px solid #2C3F91;
    border-radius: 20px;
    margin-top: 15px; 
    transition: 0.5s;
}

.menuIcon:hover{
    background-color: #2C3F91;
    border-color: white;
}
.icon:hover
{
    transform: rotate(360deg);
}

.aba
{
    width:8%;
    list-style: none;
    position: fixed;
    height: 105%;
    margin:-10px;
    margin-right: -10px;
    margin-left: -1000px;
    padding:10px;
    background:#FFC51A;
    float:left;
    transition: 0.5s;
    /* z-index: 99999; */
}
.pesquisa
{
    background-color: #4461DE;
    border-radius: 20px;
    height: 50px;
    width: 500px;
    border: 4px solid #39405E;
    color: ghostwhite;
    font-size: 20px;
    position: fixed;
    left: 500px;
    /* background-image: url('img/search.png'); */
    outline: none;
}
.menu
{
    float: left;
    margin:0;
    background-color:#151E45;
    height: 100px;
    list-style: none;
    width:100%;
    margin-left: -10px;
    margin-top:-10px;

}
.pesquisaIcon
{
    width:2.7%;
    position: fixed;
    left:948px;
    background:#4461DE;
    border: 4px solid #39405E;
    padding:1px;
    border-radius:25px;
    top:15px;
    transition:0.7s;
}
.pesquisaIcon:hover {
	filter: invert(100%);
}
.texto
{
    position: relative;
    left:1090px;
    top:300px;
    width:500px;
    font-size: 30px;
}
