body
{
    background-color: #151E45;
    color:ghostwhite;
}
.icon
{
    transition: 0.3s;
    width:60%;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 10px;
    padding: 20px;
    
}
.menuIcon
{
    float: left;
    position: relative;
    width:3%;
    margin-left: 15px;
    margin-top: 15px; 
    transition: 0.5s;
}
.exitIcon
{
    float: left;
    position: relative;
    width:5%;
    margin-left: 15px;
    transition: 0.5s; 
}

.icon:hover
{
    transform: rotate(180deg);
}

.aba
{
    width:10%;
    list-style: none;
    position: relative;
    height: 105%;
    margin:-10px;
    margin-left: -1000px;
    padding:10px;
    background:#FFC51A;
    float:left;
    transition: 0.2s;
    /* z-index: 99999; */
}
.pesquisa
{
    background-color: #599125;
    border-radius: 20px;
    height: 50px;
    width: 500px;
    border: 4px solid #467819;
    color: ghostwhite;
    font-size: 20px;
    position: fixed;
    left: 500px;
    /* background-image: url('img/search.png'); */
    outline: none;
}

.pesquisaIcon
{
    width:2.7%;
    position: absolute;
    left:948px;
    background:#599125;
    border: 3px solid #467819;
    border-radius:22px;
    top:26px;
}
