body
{
    background-color: #364DB2;
}
.icon
{
    transition: 0.7s;
     width:90%;
    margin-bottom: 10px;
    
}
.menuIcon
{
    float: left;
    position: relative;
    width:5%;
    margin-left: 15px; 
}
.exitIcon
{
    float: left;
    position: relative;
    width:5%;
    margin-left: 15px; 
}
.icon:hover
{
    width:100%;
}

.aba
{
    width:10%;
    list-style: none;
    position: relative;
    height: 100%;
    margin:-10px;
    margin-left: -1000px;
    padding:10px;
    background:#FFDF80;
    float:left;
    transition: 0.2s;
    /* z-index: 99999; */
}
