
@{
    ViewBag.Title = "AlterarSenha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Estilos/AlterarSenha.css" rel="stylesheet" />
<div class='frm'>
    <label>Change Password</label><br>
    <img class='logo2' src='../img/logo.png'>
    <div class='info'>
        <br />
            <span>Senha Antiga:<input type='password' id='senha' class='input'></span>
            <br />
            <span>Nova Senha:<input type='password' id='senhaNew' class='input'></span>
            <br />
            <span>Repetir Senha:<input type='password' id='senhaRepeat' class='input'></span>
    </div>
    <div class='butons'>
        <button onclick="TrocarSenha()">Trocar</button>
    </div>
</div>

