
@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<form action="/Usuario/Adiciona" id="form" method="post">
    
         Nome Completo:
        <input class='input' required="required" type='text' id="nome" name='usu.Nome'>
         Nome de Usuário:
        <input class='input' required="required" type='text' id="usu" name='usu.NomeUsu'>
        Senha
        <input class='input' required="required" type='password' id="senha"  name='usu.Senha'>
       Confirme a Senha
        <input class='input' required="required" type='password'  id="Csenha" name='senha'>
        Email:
        <input class='input' required="required" type='text' id="email" name='usu.Email'>
        <input type='radio' onchange='Animacao("A")' name='usu.Cargo' id='aluno' class='rbA' value='A'><label class='lbA'>Aluno</label>
        <input type='radio' onchange='Animacao("P")' name='usu.Cargo' id='professor' class='rbP' value='P'>
        <label class='lbP'>Professor</label>
        <input type="submit" value="Cadastrar">
</form>

<script>

    $("#form").submit(function (e) {
        var senha = $("#senha").val();
        var cSenha = $("#Csenha").val();
        if (senha != cSenha) {
            e.preventDefault();
            alert("Senhas não coincidem");
            $("#senha").val() = "";
            $("#Csenha").val() = "";
        }

      
    });

    
</script>

