
@{
    ViewBag.Title = "Comunicar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="criacao">
    <img class="img" onclick="imagemSala()" src='../img/classe.jpeg'>
    <div class="enviar" title="Enviar Comunicado" onclick="enviar()"><i class="fas fa-paper-plane"></i></div>
    <div class="cancelar" onclick="cancelar()"><i class="far fa-times-circle"></i></div>
    <div class="interno">
        <p class="titulop">Assunto: </p><input type="text" class="titulo">
        <p class="comunicadop">Comunicado: </p><textarea class="comunicado"></textarea>
    </div>
</div>
<script>
var menu = false;
            localStorage.setItem("User", @ViewBag.Usu.Id);
            $(".menuIcon").click(function () {
            if (!menu) {
            $(".aba").css("margin-left", "-10");
            $("#menu").attr('src', '@Url.Content("~/img/icons/exit.png")');
            $(".menuIcon").css("margin-left", "150");
            menu = true;
            }
            else {
            $(".aba").css("margin-left", "-1000");
            $("#menu").attr('src', '@Url.Content("~/img/icons/menu.png")');
            $(".menuIcon").css("margin-left", "15");
            menu = false;
            }
            })

            var not = @ViewBag.Not;

            if (not == 0) {
            $("number").hide();
            }
            else if (not < 10) {
            $("number").html(not);
            }
            else {
            $("number").html(not)
            $("number").css('padding-right', '5px');
            $("number").css('padding-left', '5px');
            }


            $("#form").submit(function (e) {
            var senha = $("#senhaNew").val();
            var cSenha = $("#senhaRepeat").val();
            if (senha != cSenha) {
            e.preventDefault();
            alert("Senhas não coincidem");
            $("#senhaNew").val() = "";
            $("#senhaRepeat").val() = "";
            }
            });
    </script>

