
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Página inicial do projeto</h1>
    </div>
</body>
<script>
    window.onload = function () {
        if ("@ViewBag.id" == "")
            window.location.href = "@Url.Action("Login","Home")";
    }
</script>
</html>