
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Login</title>
</head>
<body>
    <div>
        Nome de Usuário:
        <input class='input' required="required" type='text' id="usu" name='usu.NomeUsu'>
        Senha
        <input class='input' required="required" type='password' id="senha" name='usu.Senha'>
        <button onclick="Logar()">Logar</button>
    </div>
    <script>
        function Logar() {
            @{ 

            }
        }
    </script>
</body>
</html>
