
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Login</title>
</head>
<body>
    <div>
        <form action="/Usuario/Logar" id="form" method="post">
            Nome de Usuário:
            <input class='input' required="required" type='text' id="usu" name='usu.NomeUsu'>
            Senha
            <input class='input' required="required" type='password' id="senha" name='usu.Senha'>
            <input type="submit" value="Logar" />
        </form>
    </div>
    <script>
        var user = [];
        
        function Logar() {
            
        }

        window.onload = function () {
            if ("@ViewBag.msg" != "")
                alert("@ViewBag.msg");
        }


           


        

        
    </script>
</body>
</html>
