
@{
    ViewBag.Title = "Pesquisa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Estilos/Pesquisa.css" rel="stylesheet" />
<div class="resultados">
    <ul>
        @foreach (var Pesq in ViewBag.Busca)
        {
            var base64 = Convert.ToBase64String(Pesq.Img);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <li>
            <div class="p" onclick="location.href = '/Home/@Pesq.Eh/@Pesq.Id'">
                <p class="nome">@Pesq.Nome</p>
            </div>
            <img class="img" src="@imgSrc">
        </li>
        }
    </ul>
</div>

<script>
    //document.getElementById("demo").addEventListener("keydown", myFunction);

    function keyPress(e) {
        if (e.keyCode == 13) {
            $('#fr').submit();
            location.href = '/Home/Pesquisa';
        }
    }    
</script>