body {
    background-color: #586391;
    color: white;
    font-family: Arial;
    overflow-y: hidden;
}

.button {
    position: absolute;
    left: 800px;
    text-align: center;
    background-color: #10121f;
    border: solid 4px white;
    font-size: 25pt;
    height: 90px;
    border-radius: 5px;
    color: white;
    width: 140px;
    bottom: 50px;
}

.frm{
    background-color: #232944;
    border: solid 4px #10121f;
    width: 65%;
    height: 75%;
    position: absolute;
    text-align: center;
    left: 15%;
    top: 15%;
    font-size: 30pt;
}

.info ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
}

    .info ul li {
        margin-bottom: 50px;
    }



.info {
    margin-top: 5%;
    text-align: left;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.input {
    width: 550px;
    height: 50px;
    margin-left: 1em;
    margin-top:0px;
    border-radius: 15px;
    background-color: #10121f;
    border: solid 4px white;
    font-size: 20pt;
    color: white;
}

.butons {
    position: absolute;
    text-align: center;
    font-size: 15pt;
    margin-left: -35%;
    margin-top: 18%;
}

.button:hover {
    background-color: #36406B;
}

.logo2 {
    width: 100px;
    height: 100px;
    position: fixed;
    left: 74%;
    top: 15%;
}

p {
    position: fixed;
    left: 270px;
    top: 35px;
    font-size: 20px;
}

p a {
        color: #D5BB6D;
        text-decoration: none;
}
