.criacao {
    position: absolute;
    /* float: left; */
    top: 15%;
    left: 9.5%;
    background-image: url("../img/planosDeFundo/3.jpg");
    border: 10px double midnightblue;
    height: 74%;
    width: 80%;
}

.datap {
    font-size: 35px;
    position: absolute;
    margin-left: 32%;
    margin-top: 9%;
    float: left;
    text-align: center;
    color: Black;
    font-family: Cambria;
}

.data {
    font-size: 30px;
    position: absolute;
    margin-left: 42%;
    margin-top: 9%;
    float: left;
    text-align: center;
    color: Black;
    font-family: Cambria;
    width: 20%;
}

.nome {
    font-size: 24px;
    position: relative;
    float: center;
    text-align: center;
    color: midnightblue;
    font-family: 'Franklin Gothic Medium';
}

.img {
    position: absolute;
    border: 5px solid midnightblue;
    float: left;
    left: 2%;
    top: 4%;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 250px;
    min-width: 250px;
    max-height: 250px;
    min-height: 250px;
    transition: 0.2s;
}

    .img:hover {
        border-color: #4461DE;
    }

.interno {
    background-color: ghostwhite;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    top: 4%;
    left: calc(250px + 5%);
    float: left;
    width: 72%;
    height: 90%;
    border: 5px solid midnightblue;
}

.titulop {
    font-size: 35px;
    position: absolute;
    margin-left: 3%;
    margin-top: 3%;
    float: left;
    text-align: center;
    color: Black;
    font-family: Cambria;
}

.titulo {
    font-size: 30px;
    position: absolute;
    left: 21%;
    width: 77%;
    margin-top: 3%;
    float: left;
    text-align: center;
    color: Black;
    font-family: Cambria;
}

.pesop {
    font-size: 35px;
    position: absolute;
    margin-left: 3%;
    margin-top: 9%;
    float: left;
    text-align: center;
    color: Black;
    font-family: Cambria;
}

.peso {
    font-size: 30px;
    position: absolute;
    left: 21%;
    margin-top: 9%;
    float: left;
    text-align: center;
    color: Black;
    font-family: Cambria;
    width: 8%;
}


.comunicadop {
    position: absolute;
    float: left;
    margin-left: 3%;
    margin-top: 15%;
    max-width: 95%;
    color: Black;
    font-family: Cambria;
    font-size: 35px;
}

.comunicado {
    position: absolute;
    float: left;
    margin-left: 3%;
    margin-top: 21%;
    color: Black;
    font-family: Cambria;
    font-size: 25px;
    width: 95%;
    height: 58%;
}

.enviar {
    position: absolute;
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: #4461DE;
    width: 250px;
    height: 12%;
    float: left;
    left: 2%;
    top: calc(2.5% + 250px);
    text-align: center;
    margin-top: 2%;
    line-height: 2.5em;
}

    .enviar i {
        font-size: 38pt;
        margin-top: 0.14em;
    }

    .enviar:hover {
        border-color: #2C3F91;
    }

.adicionar {
    position: absolute;
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: #4461DE;
    width: 250px;
    height: 12%;
    float: left;
    left: 2%;
    top: calc(3% + 260px + 13%);
    margin-top: 2%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

    .adicionar i {
        font-size: 42.5pt;
        margin-top: 0.14em;
    }

    .adicionar:hover {
        border-color: #2C3F91;
    }

.add {
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    left: -1000px;
}

.cancelar {
    position: absolute;
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: #4461DE;
    width: 250px;
    height: 12%;
    float: left;
    left: 2%;
    top: calc(5.5% + 260px + 26%);
    margin-top: 2%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

    .cancelar i {
        font-size: 41pt;
        margin-top: 0.13em;
    }

    .cancelar:hover {
        border-color: #2C3F91;
    }
