.frequencias {
    position: absolute;
    /* float: left; */
    top: 15%;
    left: 9.5%;
    background-image: url("../img/planosDeFundo/3.jpg");
    border: 10px double midnightblue;
    height: 74%;
    width: 80%;
}

.nome {
    font-size: 24px;
    position: relative;
    float: center;
    text-align: center;
    color: midnightblue;
    font-family: 'Franklin Gothic Medium';
}

.img {
    position: absolute;
    border: 5px solid midnightblue;
    float: left;
    left: 2%;
    top: 4%;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 250px;
    min-width: 250px;
    max-height: 250px;
    min-height: 250px;
    transition: 0.2s;
}

    .img:hover {
        border-color: #4461DE;
    }

.interno {
    background-color: ghostwhite;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    top: 4%;
    left: calc(250px + 5%);
    float: left;
    width: 72%;
    height: 90%;
    border: 5px solid midnightblue;
    overflow-y: scroll;
}

    .interno ul {
        list-style: none;
        margin-top: 10%;
    }

        .interno ul li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 95%;
            margin-bottom: calc(130px + 2%);
        }

            .interno ul li .p .nome {
                font-size: 24px;
                position: relative;
                top: 15%;
                float: center;
                text-align: center;
                color: Black;
                font-family: Cambria;
            }

            .interno ul li .p .faltac {
                padding: 0.8%;
                height: 35%;
                width: 20%;
                border: 5px solid midnightblue;
                border-radius: 5px;
                position: absolute;
                left: 2%;
                top: 25%;
                float: left;
                text-align: left;
                color: Black;
                font-family: Cambria;
            }

                .interno ul li .p .faltac .faltap {
                    font-size: 24px;
                    position: relative;
                    top: -45%;
                    left: 5%;
                    float: left;
                    text-align: left;
                    color: Black;
                    font-family: Cambria;
                }

                .interno ul li .p .faltac .falta {
                    font-size: 24px;
                    position: relative;
                    left: 10%;
                    top: 10%;
                    width: 35%;
                    float: left;
                    text-align: center;
                    color: Black;
                    font-family: Cambria;
                }

            .interno ul li .p {
                border: 5px solid midnightblue;
                border-right: none;
                position: absolute;
                height: 120px;
                width: calc(90% - 120px);
                float: left;
            }

            .interno ul li .aluno {
                position: absolute;
                border: 5px solid midnightblue;
                float: left;
                left: calc(95% - 120px);
                max-width: 120px;
                min-width: 120px;
                max-height: 120px;
                min-height: 120px;
                transition: 0.2s;
            }

            .interno ul li .img:aluno {
                border-color: #4461DE;
            }

.titulop {
    font-size: 35px;
    position: absolute;
    margin-left: 3%;
    margin-top: 3%;
    float: left;
    text-align: center;
    color: Black;
    font-family: Cambria;
}

.titulo {
    font-size: 30px;
    position: absolute;
    left: 19%;
    margin-top: 3%;
    float: left;
    text-align: center;
    color: Black;
    font-family: Cambria;
    width: 79%;
}

.comunicadop {
    position: absolute;
    float: left;
    margin-left: 3%;
    margin-top: 11%;
    max-width: 95%;
    color: Black;
    font-family: Cambria;
    font-size: 35px;
}

.comunicado {
    position: absolute;
    float: left;
    margin-left: 3%;
    margin-top: 17%;
    color: Black;
    font-family: Cambria;
    font-size: 25px;
    width: 95%;
    height: 65%;
}

.salvar {
    position: absolute;
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: #4461DE;
    width: 250px;
    height: 70px;
    float: left;
    left: 2%;
    top: calc(9% + 250px);
    text-align: center;
    font-family: Cambria;
    font-size: 24px;
    margin-top: 2%;
    line-height: 2.5em;
}

    .salvar i {
        font-size: 40pt;
        margin-top: 0.14em;
    }

    .salvar:hover {
        border-color: #2C3F91;
    }

.cancelar {
    position: absolute;
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: #4461DE;
    width: 250px;
    height: 70px;
    float: left;
    left: 2%;
    top: calc(16% + 330px);
    margin-top: 2%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

    .cancelar i {
        font-size: 42.5pt;
        margin-top: 0.14em;
    }

    .cancelar:hover {
        border-color: #2C3F91;
    }
