.salas {
    position: absolute;
    /* float: left; */
    top: 15%;
    left: 9.5%;
    background-image: url("../img/planosDeFundo/3.jpg");
    border: 10px double midnightblue;
    overflow-y: scroll;
    text-align: center;
    color: midnightblue;
    height: 74%;
    width: 80%;
}

.criarc {
    position: absolute;
    left: calc(2px + 3%);
    top: 3%;
    width: 91%;
    height: 20%;
    border: 10px double midnightblue;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
}

    .criarc .criar {
        position: relative;
        margin-top: 2.2%;
        margin-bottom: 2%;
        width: 20%;
        height: 60%;
        border: 5px solid midnightblue;
        border-radius: 5px;
        background-color: #4461DE;
    }

            .criarc .criar i {
                color: ghostwhite;
                font-size: 35pt;
                margin-top: 0.14em;
            }

            .criarc .criar:hover {
                border-color: #2C3F91;
            }

    .salas .A {
        list-style: none;
        margin-top: 12%;
    }

        .salas .A li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 80%;
            margin-bottom: 270px;
        }

.salas .P {
    list-style: none;
    margin-top: 24%;
}

    .salas .P li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin-bottom: 270px;
    }

.nome {
    font-size: 25px;
    position: relative;
    top: 40%;
    float: center;
    text-align: center;
    color: Black;
    font-family: Baskerville Old Face;
}

.paragrafo {
    border: 5px solid midnightblue;
    background-color: ghostwhite;
    border-right: none;
    position: absolute;
    height: 250px;
    width: calc(95% - 250px);
    float: left;
}

.img {
    position: absolute;    
    float: left;
    left: calc(95% - 250px);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 250px;
    min-width: 250px;
    max-height: 250px;
    min-height: 250px;
    transition: 0.2s;
}

