.mural {
    position: absolute;
    /* float: left; */
    top: 15%;
    left: 9.5%;
    background: ghostwhite;
    border: 10px double midnightblue;
    overflow-y: scroll;
    height: 74%;
    width: 60%;
    color:midnightblue;
    text-align:center;
}

    .mural ul {
        list-style: none;
        margin-top: 8%;
    }

        .mural ul li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 80%;
            margin-bottom: 140px;
        }

.classe {
    position: absolute;
    top: 15%;
    left: 71%;
    background: ghostwhite;
    border: 10px double midnightblue;
    height: 74%;
    width: 26%;
}

    .classe .img {
        position: absolute;
        border: 5px solid midnightblue;
        float: center;
        top: 4%;
        left: 5%;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 200px;
        min-width: 200px;
        max-height: 200px;
        min-height: 200px;
        transition: 0.2s;
    }

    .classe .nome {
        font-family: 'Century Gothic';
        font-size: 24px;
        color: midnightblue;
        position: absolute;
        float: left;
        top: 230px;
        left: 6%;
    }

    .classe .img:hover {
        border-color: #4461DE;
    }

    .classe .alunos {
        font-family: 'Baskerville Old Face';
        color: black;
        font-size: 20px;
        position: absolute;
        float: left;
        top: 280px;
        left: 6%;
    }

    .classe .professor {
        font-family: 'Baskerville Old Face';
        color: black;
        font-size: 20px;
        position: absolute;
        float: left;
        top: 330px;
        left: 6%;
    }

    .classe .trabalhos {
        font-family: 'Baskerville Old Face';
        color: black;
        font-size: 20px;
        position: absolute;
        float: left;
        top: 380px;
        left: 6%;
    }


    .classe .boletim {
        font-family: 'Baskerville Old Face';
        color: black;
        font-size: 20px;
        position: absolute;
        float: left;
        top: 430px;
        left: 6%;
    }

    .classe .boletim:hover{
        color:purple;
        cursor: pointer;
    }

.mural ul li .p .nome {
    font-size: 16px;
    position: relative;
    top: 30%;
    float: center;
    text-align: center;
    color: Black;
    font-family: Baskerville Old Face;
}

.mural ul li .p {
    border: 5px solid midnightblue;
    border-right: none;
    position: absolute;
    height: 120px;
    width: calc(95% - 120px);
    float: left;
}

.mural ul li .img {
    position: absolute;
    border: 5px solid midnightblue;
    float: left;
    left: calc(95% - 120px);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
    transition: 0.2s;
    display:flex;
    flex-direction:column;
    align-items:center;                               
    justify-content:center;
    overflow:hidden;
}
.mural ul li .img img
{
    max-width:210px;
}

    .mural ul li .img:hover {
        border-color: #4461DE;
    }

.mural ul li .p:hover {
    border-color: #4461DE;
}

button {
    position: absolute;
    border: 5px solid midnightblue;
    border-radius: 5px;
    background-color: white;
    width: 250px;
    height: 60px;
    color: midnightblue;
    top:500px;
    left: 6%;
    /*top: calc(4% + 250px);*/
    text-align: center;
    font-family: Cambria;
    font-size: 24px;
    /*margin-top: 2%;*/
    line-height: 1em;
    transition:0.5s;
}

    button:hover {
        border-color: #2C3F91;
    }

    .trabalhos:hover{
        color:purple;
        cursor: pointer;
    }

.modal {
    display: none;
    position: absolute;
    width: 30em;
    height: 20%;
    top: 40%;
    left: -190%;
}

    .modal .header {
        position: relative;
        width: 102.125%;
        height: 30%;
        background-color: midnightblue;
    }


        .modal .header .pu {
            float: left;
            position: relative;
            font-family: Cambria;
            font-size: 18pt;
            left: 10%;
            top: -65%;
        }

        .modal .header .close {
            float: right;
            position: relative;
            width: 4%;
            height: 60%;
            border: 3px solid #2C3F91;
            background-color: midnightblue;
            right: 1.5%;
            top: 20%;
        }

            .modal .header .close:hover {
                filter: invert(100%);
            }

            .modal .header .close i {
                font-size: 16pt;
                margin-left: 0.1em;
                margin-top: -0.05em;
            }

    .modal .content {
        position: relative;
        width: 100%;
        height: 80%;
        border: 5px solid midnightblue;
        background-color: #4461DE;
    }

        .modal .content .pm {
            position: relative;
            font-family: Cambria;
            font-size: 18pt;
            float: left;
            left: -10%;
            top: 10%;
        }

        .modal .content .pf {
            position: relative;
            font-family: Cambria;
            font-size: 18pt;
            top: 10%;
        }
